## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [2]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("../weather-raw.csv")
df = df.fillna(0)

ide = ''
year = ''
month = ''
day = ''

list1 = []
list2 = []
list3 = []
list4 = []

days = list(df.columns[4:].str.extract("(d\d+)", expand=False))

for i in df.index:
    for cols in df.columns:
        result = ""
        if cols == 'id':
            ide = df[cols][i]
        if cols == 'year':
            year = df[cols][i]
        if cols == 'month':
            month = df[cols][i]
        if cols == 'element':
            if df[cols][i] == 'tmax':
                x = 'tmax'
            if df[cols][i] == 'tmin':
                x = 'tmin'
        if cols in days and df[cols][i] != 0:
            if x == 'tmax':
                list1.append(ide)
                list2.append(f'{cols[1:]}-{month}-{year}')
                list3.append(df[cols][i])
                list4.append('Empty')   
            if x == 'tmin':
                list1.append(ide)
                list2.append(f'{cols[1:]}-{month}-{year}')
                list4.append(df[cols][i])
                list3.append('Empty') 

d = {
    'Id': list1,
    'Date': list2,
    'Tmax': list3,
    'Tmin': list4,
    }
pd.DataFrame(d)

         Id        Date   Tmax   Tmin
0   MX17004   30-1-2010   27.8  Empty
1   MX17004   30-1-2010  Empty   14.5
2   MX17004    2-2-2010   27.3  Empty
3   MX17004    3-2-2010   24.1  Empty
4   MX17004   11-2-2010   29.7  Empty
..      ...         ...    ...    ...
61  MX17004  27-11-2010  Empty   14.2
62  MX17004   1-12-2010   29.9  Empty
63  MX17004   6-12-2010   27.8  Empty
64  MX17004   1-12-2010  Empty   13.8
65  MX17004   6-12-2010  Empty   10.5

[66 rows x 4 columns]